<ol class="breadcrumb">
  <li>Artists</li>
  <li class="active">Overview</li>
</ol>

<% if @artists.present? %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.contact_name %></td>
    <td><%= artist.email %></td>
    <td class="text-right">
      <div class="btn-group">
      <% if can? :show, artist %>
        <%= link_to 'View', artist_path(artist), class: 'btn btn-default' %>
      <% end %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Activated Artist Emails</h3>
  </div>
  <div class="panel-body">
    <%= Artist.activated_emails.join(", ") %>
  </div>
</div>
<% else %>
  <div class="well">
    There are no artists to display.
  </div>
<% end %>
