<div class="container">
  <% if admin_logged_in? %>
| <%= link_to "Voter Page", :controller => "voters", :action => "index" %>
| <%= link_to "Artist Page", :controller => "artists", :action => "index" %>
| <%= link_to "Admin Page", :controller => "admins", :action => "index" %>
|
<% end %>

	<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Artists</h1>

	<% if artist_logged_in? %>

	    You are logged in as: <%= current_artist.name %> (<%= current_artist.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_artist" %>]

	    <br /><br />
	    
	    <% if artist_has_submission? %>
	      <h2>Your Submissions:</h2>
  	    <table border="1" cellpadding="4">
  	      <tr>
  	        <td><h4>Submission Title</h4></td>
  	        <td><h4>Grant Category</h4></td>
  	        <td><h4>Requested Funding Level</h4></td>
  	        <td></td>
  	      </tr>
  	    <% @grant_submissions.each do |gs| %>
          <tr>
            <td><%= gs.name %></td>
            <td><%= Grant.where("id = ?",gs.grant_id).take.name + " (" + gs.grant_id.to_s + ")" rescue "Unknown (" + gs.grant_id.to_s + ")" %></td>
            <td><%= gs.requested_funding_dollars %></td>
            <td><%= link_to "Modify", :controller => "grant_submissions", :action => "modify", :id => gs.id%></td>
          </tr>
        <% end %>
        </table>
        <br/>
        <%= link_to "Submit another Grant Proposal", :controller => "grant_submissions", :action => "index" %>
      <% else %>
        <h5>You have not submitted any proposals</h5>
  	    <%= link_to "Submit a Grant Proposal", :controller => "grant_submissions", :action => "index" %>
      <% end %>


	<% else %>
		Don't have an account yet?
	    <%= link_to "Register as an artist", :controller => "artists", :action => "signup" %> to access the grant applications.
	<h2>Sign in:</h2>
	<fieldset>
	<%= form_tag(controller: 'sessions', action:'create_artist') do %>
	  <%= text_field :session, :email, :placeholder => "Email Address", :style => "margin-bottom: 10px" %><br />
	  <%= password_field :session, :password, :placeholder => "Password" %>
	  <br /><br />
	  <%= submit_tag("Sign in", class: "button")%>
	<% end %>

	<% end %>
	</fieldset>
</div>