<p>Dear <%= @artist.name %>,</p>

<p>Congratulations, you have been awarded a <%= @year %> Firefly <%= @grant.name %>
  Grant in the amount of $<%= @submission.granted_funding_dollars %> to help bring
  <%= @submission.name %> to this year's Firefly Arts Festival <%= @year %>!</p>

<p>Thanks for your efforts -- the competition was fierce and there were a number
  of really impressive projects to choose from this year!</p>

<p>Please visit your page on the Art Grant website and click the button to
  generate a contract for your project.</p>

<p>If you are accepting the grant, please sign and return this contract to us
  ASAP, and no later than end-of-day on <%= @values["contract_deadline"] %>. The signed contract
  should be sent as an email attachment in a response (Reply All) to this email.
  Scans are best, but high quality photographs are also acceptable in a pinch
  (please, please, please have good, even lighting and framing if you must go
  this route!).</p>

<p>If you are NOT accepting the grant, for whatever reason, please let us know
  ASAP as well.</p>

<p><b>If we do not hear from you, we will assume that you are NOT accepting the
  grant, and we will allocate these funds towards something else!</b></p>

<p>We are working hard this year to ensure prompt distribution of funds on a
  predictable schedule. Your timely response helps ensure that this happens for
  everyone!</p>

<h2>Schedule</h2>

<% @values["schedule"].each do |line| %>
  <%= line %><br/>
<% end %>

<p>Let us know if you have any questions!</p>

<p>- Firefly Art Grant Core</p>
