<p><%= @artist.name %>,</p>

<p>Thank you for submitting a proposal for the
<%= @year %> Firefly <%= @grant.name %> Grant!</p>

<p>After reviewing your submission, the committee had a few questions. Please
log in to the <%= link_to "Art Grant portal", artists_url() %> and click on
"Questions From Committee" and enter your responses in the box provided. If you
have additional documents to provide, scroll to the bottom of the discussion
page and click "Upload Additional Document."</p>

<p>Please answer these by end-of-day on <%= @due_date %> so that we can consider
your feedback when making our final funding decisions.</p>

<p>Thanks again for submitting and for your time! We look forward to hearing
back from you.</p>

<p>- Firefly Art Grants Core</p>
