<p><%= @artist.name %>,</p>

<p>Thank you for taking the time and effort to pull together a proposal for the
<%= @year %> Firefly <%= @grant.name %> Grant!</p>

<p>After reviewing your submission, the committee had a few questions. Please
log in to the <%= link_to "Art Grant portal", artists_url() %> and click on
"Questions From Committee" and enter your responses in the box provided.</p>

<p>Please answer these by end-of-day on <%= @due_date %> so that we can consider
your feedback when making our final funding decisions. You may reply to this
email and attach any additional files you'd like to include.</p>

<p>Thanks again for submitting and for your time! We look forward to hearing
back from you.</p>

<p>- Firefly Art Grants Core</p>
