<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "All Grants", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: 'all', funded: @show_funded, order: @order), class: ['btn', 'btn-default', (@grantscope == 'all' ? 'active' : nil)] %>
    <% @grants.each do |grant| %>
      <%= link_to grant.name, admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: grant.name, funded: @show_funded, order: @order), class: ['btn', 'btn-default', (@grantscope == grant.name ? 'active' : nil)] %>
    <% end %>
  </div>
  <br/><br/>
  <div class="btn-group">
    <%= link_to "Only Active", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope == 'active' ? 'all' : 'active', grantscope: @grantscope, funded: @show_funded, order: @order), class: ['btn', 'btn-default', (@scope == 'active' ? 'active' : nil)] %>
    <%= link_to "Only Funded", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded == 'all' ? 'funded' : 'all', order: @order), class: ['btn', 'btn-default', (@show_funded == 'all' ? nil : 'active')] %>
    <%= link_to "Show Scores", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores ? 'false' : 'true', scope: @scope, grantscope: @grantscope, funded: @show_funded, order: @order), class: ['btn', 'btn-default', (@show_scores ? 'active' : nil)] %>
  </div>
  <div class="btn-group">
    <%= link_to "By Score", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: :score), class: ['btn', 'btn-default', (@order == 'score' ? 'active' : nil)] %>
    <%= link_to "By Date", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: :date), class: ['btn', 'btn-default', (@order == 'date' ? 'active' : nil)] %>
    <%= link_to "By Name", admins_grant_submissions_path(reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: :name), class: ['btn', 'btn-default', (@order == 'name' ? 'active' : nil)] %>
  </div>
  <br/><br/>
  <div class="btn-group">
    <%= link_to "Generate CSV", admins_grant_submissions_path(format: 'csv', reveal: @revealed, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: :name), class: ['btn', 'btn-default'] %>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Grant</th>
    <th>Discussion</th>
    <% if @show_scores %>
    <th>Avg T</th>
    <th>Avg C</th>
    <th>Avg F</th>
    <th>Avg Score</th>
    <th>#</th>
    <% end %>
    <th>Decision Finalized</th>
    <th>Funding</th>
    <% if @revealed %>
    <th>Artist Name</th>
    <th>Contact Name</th>
    <th>Artist Email</th>
    <% else %>
    <th class="text-center"><%= button_to "Toggle All", '#', :onclick => "toggle_all_fund_emails(event);", class: 'btn btn-default' %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @grant_submissions.each do |gs| %>
  <tr>
    <td>
      <%= gs.name %><br />
      <div class="btn-toolbar">
        <div class="btn-group">
          <% if can? :edit, gs %>
          <%= link_to "Edit", edit_grant_submission_path(id: gs.id), class: 'btn btn-xs btn-default' %>
          <% end %>
          <%= link_to "View", grant_submission_path(id: gs.id), class: 'btn btn-xs btn-default' %>
        </div>
        <div class="btn-group">
          <%= link_to "Ask Questions", discuss_grant_submission_path(gs), class: 'btn btn-xs btn-primary' %>
        </div>
        <div class="btn-group">
          <% if gs.funded? %>
            <%= link_to "Generate Contract", generate_contract_grant_submission_path(gs, format: 'pdf'), method: :post, class: 'btn btn-xs btn-success btn-inline' %>
          <% end %>
        </div>
      </div>
    </td>
    <td><%= Grant.where("id = ?",gs.grant_id).take.name %></td>
    <td><%= link_to discussion_status(gs), discuss_grant_submission_path(gs) %></td>
    <% if @show_scores %>
    <td><%= @results[gs.id]['avg_t'] %></td>
    <td><%= @results[gs.id]['avg_c'] %></td>
    <td><%= @results[gs.id]['avg_f'] %></td>
    <td><%= @results[gs.id]['avg_s'] %></td>
    <td><%= @results[gs.id]['num_total'].fdiv(3.0).round(2).to_i %></td>
    <% end %>
    <td><% if gs.funding_decision %>Yes<% else %>No<% end %></td>
    <td>
      <%= render partial: 'grant_submissions/funding_table', locals: { grant_submission: gs }%>
    </td>
    <% if @revealed %>
      <td><%= (Artist.where(id: gs.artist_id).take).name rescue "Unknown" %></td>
      <td><%= (Artist.where(id: gs.artist_id).take).contact_name rescue "Unknown" %></td>
      <td><%= (Artist.where(id: gs.artist_id).take).email rescue "Unknown" %></td>
    <% else %>
      <td class="text-center">
        <form name="fund_email_form-<%= gs.id %>">
        <input type="checkbox" id="send_email_checkbox-<%= gs.id %>" name="send_email_checkbox">
        </form>
      </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
  <tfoot>
  <% unless @revealed %>
  <% colspan = 5 + (@show_scores ? 5 : 0) + (@revealed ? 3 : 0) %>
  <tr>
    <td colspan="<%= colspan %>" class="text-right">
      <form name="send_email_form">
        <b>Send email when finalizing</b> <input type="checkbox" id="send_grant_fund_email_checkbox" checked="true">
      </form>
    </td>
    <td class="text-center"><%= button_to "Finalize", '#', :onclick => "confirm_selected(event);", class: 'btn btn-warning' %></td>
  </tr>
  <tr>
    <td colspan="<%= colspan - 1 %>" class="text-right">Total proposed grant money</td>
    <td class="text-right"><%= number_to_currency GrantSubmission.granted_funding_dollars_total(@grant_submissions.map {|gs| gs.id}, funding_decision: false) %></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="<%= colspan - 1 %>" class="text-right">Total finalized grant money</td>
    <td class="text-right"><%= number_to_currency GrantSubmission.granted_funding_dollars_total(@grant_submissions.map {|gs| gs.id}, funding_decision: true) %></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="<%= colspan %>" class="text-right"><b>Sends emails to selected artists with non-empty Questions</b></td>
    <td><%= button_to "Notify Questions", '#', :onclick => "notify_selected(event);", class: 'btn btn-warning' %></td>
  </tr>
  </tfoot>
  <% end %>
</table>

<% if can? :reveal_identities, GrantSubmission %>
<p>
<% if @revealed %>
  <%= link_to "HIDE IDENTITIES", admins_grant_submissions_path(reveal: false, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: @order), class: 'btn btn-danger' %>
<% else %>
  <img src="/uploads/emot-siren.gif"> <%= link_to "REVEAL IDENTITIES", admins_grant_submissions_path(reveal: true, scores: @show_scores, scope: @scope, grantscope: @grantscope, funded: @show_funded, order: @order), class: 'btn btn-danger' %> <img src="/uploads/emot-siren.gif">
<% end %>
</p>
<% end %>

<%= javascript_include_tag 'admins/grant_submissions/index', 'data-turbolinks-track': true %>
