<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

<% if admin_logged_in? %>
  <%= render partial: 'shared/links' %>

  <h2>Artists</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Email</th>
    </tr>
    <% @artists.each do |v| %>
    <tr>
      <td><%= link_to v['name'], :controller => "admins", :action => "artist_info", :id => v['id']%></td>
      <td><%= v['contact_name'] %></td>
      <td><%= v['email'] %></td>
    </tr>
    <% end %>
  </table>
<% end %>
