<div class="container">
  <% if admin_logged_in? %>
  | <%= link_to "Voter Page", :controller => "voters", :action => "index" %>
  | <%= link_to "Artist Page", :controller => "artists", :action => "index" %>
  | <%= link_to "Admin Page", :controller => "admins", :action => "index" %>
  |
  <% end %>
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

  <% if admin_logged_in? %>
    <h3>| <%= link_to "Index", :controller => "admins", :action => "index" %>
    | <%= link_to "Submissions", :controller => "admins", :action => "submissions" %>
    | <%= link_to "Artists", :controller => "admins", :action => "artists" %>
    | <%= link_to "Voters", :controller => "admins", :action => "voters" %>
    | Grants
    |</h3>
    <h2>Grant Types</h2>
    <% if any_submit_open? %>
      <p>The submission process is active for <% active_submit_names.each_with_index do |g, i| %>
      <% if i > 0 %> and<% end %>
      <b><%= g.name %></b><% end %></p>
    <% else %>
      <p>No submission process open at this time.</p>
    <% end %>
    <% if any_vote_open? %>
      <p>The voting process is active for <% active_vote_names.each_with_index do |g, i| %>
      <% if i > 0 %> and<% end %>
      <b><%= g.name %></b><% end %></p>
    <% else %>
      <p>No voting process open at this time.</p>
    <% end %>
    <table border=1>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Max Funding $</th>
        <th>Submission Start Date</th>
        <th>Submission End Date</th>
        <th>Voting Start Date</th>
        <th>Voting End Date</th>
      </tr>
      <% @grants.each do |g| %>
      <tr>
        <td><%= g.id %></td>
        <td><%= g.name %></td>
        <td><%= g.max_funding_dollars %></td>
        <td><%= g.submit_start.strftime("%Y/%m/%d") %></td>
        <td><%= g.submit_end.strftime("%Y/%m/%d") %></td>
        <td><%= g.vote_start.strftime("%Y/%m/%d") %></td>
        <td><%= g.vote_end.strftime("%Y/%m/%d") %></td>
        <td><%= button_to "Modify", :controller => "grants", :action => "modify", :id => g.id %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "Create Grant", :controller => "grants", :action => "index" %>
  <% end %>
</div>
