<%= render partial: 'shared/links' %>

<% if admin_logged_in? %>
<p>
  (<%= link_to "Create", :controller => "admins", :action => "signup" %> additional admin account)
</p>

<% if any_vote_open? %>
  <table>
		<tr>
      <td>
        <%= button_to "Assign", admins_assign_path, class: 'btn btn-info', type: 'button' %>
      </td>
      <td>
        <%= button_to "Clear Assignments", admins_clear_assignments_path , class: 'btn btn-warning', type: 'button' %>
      </td>
    </tr>
  </table>


  <h2>Assignments</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Assigned</th>
    </tr>
    </thead>
    <tbody>
    <% @verified_voters.each do |vv| %>
    <tr>
      <td><%= vv.name %></td>
      <td><%= vv.email %></td>
      <td><%= vv.assigned.join(', ').html_safe %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2> No active grants for vote at this time </h2>
<% end %>

<% elsif !admin_exists? %>
<%= link_to "Create", :controller => "admins", :action => "signup" %> initial admin account
<% else %>
  <%= form_tag(controller: 'sessions', action:'create_admin') do %>
  <h2>Sign in:</h2>
  <fieldset>
    <%= text_field :session, :email, :placeholder => "Email Address" %>
    <br />
    <%= password_field :session, :password, :placeholder => "Password" %>
    <br />
    <%= submit_tag("Sign In", class: "button") %>
    </formset>
    <% end %>
  <%= link_to "(forgot password)", new_password_reset_path(type: "admins") %>
<% end %>
<script>
  function toggle_all_fund_emails(event) {
    event.preventDefault();
    checkboxes = document.getElementsByName('fund_email_checkbox');
    var toggle_to = !checkboxes[0].checked;
    for(var i=0, n=checkboxes.length; i<n; i++) {
      checkboxes[i].checked = toggle_to;
    }
    return false;
  }

  function confirm_selected(event) {
    event.preventDefault();
    checkboxes = document.getElementsByName('fund_email_checkbox');
    var selected = [];
    for (var i=0, n=checkboxes.length; i<n; i++) {
      if (checkboxes[i].checked) {
        var id = checkboxes[i].id.split("-")[1];
        selected.push(id);
      }
    }
    if (selected.length == 0) {
      return false;
    }
    var send_email = document.getElementById('send_grant_fund_email_checkbox').checked;
    var admin_js = '<%= raw @admin.to_json %>';
    $.post("/admins/send_fund_emails?ids=" + selected + "&send_email=" + send_email,
        {"admin": admin_js});
    return false;
  }
</script>
