<%= render partial: 'shared/links' %>

<% if admin_logged_in? %>
<p>
  (<%= link_to "Create", new_admin_path %> additional admin account)
</p>

<% if any_vote_open? %>
  <table>
		<tr>
      <td>
        <%= button_to "Assign", admins_assign_path, class: 'btn btn-info', type: 'button' %>
      </td>
      <td>
        <%= button_to "Clear Assignments", admins_clear_assignments_path , class: 'btn btn-warning', type: 'button' %>
      </td>
    </tr>
  </table>


  <h2>Assignments</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Assigned</th>
    </tr>
    </thead>
    <tbody>
    <% @verified_voters.each do |vv| %>
    <tr>
      <td><%= vv.name %></td>
      <td><%= vv.email %></td>
      <td><%= vv.assigned.join(', ').html_safe %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h2> No active grants for vote at this time </h2>
<% end %>
<% end %>
