<ol class="breadcrumb">
  <li>Signup</li>
  <li class="active">Admin</li>
</ol>

<% if @can_create_admin %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for @admin do |f| %>

        <%= f.input :name, :label => "Full Name", :required => true, :validate => true %>
        <%= f.input :email, :label => "Email Address", :required => true, :validate => true %>
        <%= f.input :password, :label => "Password", :required => true, :validate => true %>
        <%= f.input :password_confirmation, :label => "Password Confirmation", :required => true, :validate => true %>

        <p class="text-right">
        <%= f.submit class: "btn btn-primary" %>
        </p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning">
    <p>Must have empty db or be logged in as admin to create another admin.</p>
  </div>
<% end %>
