<div class="container">
  <% if admin_logged_in? %>
  | <%= link_to "Artist Page", :controller => "artists", :action => "index" %>
  | <%= link_to "Voter Page", :controller => "voters", :action => "index" %>
  | <%= link_to "Admin Page", :controller => "admins", :action => "index" %>
  |
  <% end %>
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

  <% if admin_logged_in? %>
    <h3>| <%= link_to "Index", :controller => "admins", :action => "index" %>
      | Submissions
      | <%= link_to "Artists", :controller => "admins", :action => "artists" %>
      | <%= link_to "Voters", :controller => "admins", :action => "voters" %>
      | <%= link_to "Grants", :controller => "admins", :action => "grants" %>
      |</h3>
    <h2>Grant Submitters Revealed!</h2>

    <table border="1">
      <tr>
        <th>Name</th>
        <th>Grant</th>
        <th>Finalized Funded Amount</th>
        <th>Artist Name</th>
        <th>Contact Name</th>
        <th>Artist Email</th>
      </tr>

      <% @grant_submissions.each do |gs| %>
        <tr>
          <td><%= gs.name %></td>
          <td><%= (Grant.where(id: gs.grant_id).take).name rescue "Unknown" %></td>
          <td align="right">
            <% if grant_submission_funded?(gs.id) %>
              <% if gs.granted_funding_dollars != nil %>
                $<%= gs.granted_funding_dollars %>
              <% else %>$0
              <% end %>
            <% else %>$0
            <% end %></td>
          <td><%= (Artist.where(id: gs.artist_id).take).name rescue "Unknown" %></td>
          <td><%= (Artist.where(id: gs.artist_id).take).contact_name rescue "Unknown" %></td>
          <td><%= (Artist.where(id: gs.artist_id).take).email rescue "Unknown" %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= link_to "Back", :controller => "admins", :action => "submissions" %>
  <% end %>
</div>