<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

<% if admin_logged_in? %>
  <%= render partial: 'shared/links' %>

  <h2>Grant Submitters Revealed!</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Grant</th>
      <th>Finalized Funded Amount</th>
      <th>Artist Name</th>
      <th>Contact Name</th>
      <th>Artist Email</th>
    </tr>
    </thead>
    </tbody>
    <% @grant_submissions.each do |gs| %>
      <tr>
        <td><%= gs.name %></td>
        <td><%= (Grant.where(id: gs.grant_id).take).name rescue "Unknown" %></td>
        <td align="right">
          <% if grant_submission_funded?(gs.id) %>
            $<%= gs.granted_funding_dollars%>
          <% else %>$0
          <% end %></td>
        <td><%= (Artist.where(id: gs.artist_id).take).name rescue "Unknown" %></td>
        <td><%= (Artist.where(id: gs.artist_id).take).contact_name rescue "Unknown" %></td>
        <td><%= (Artist.where(id: gs.artist_id).take).email rescue "Unknown" %></td>
      </tr>
    <% end %>
    <tbody>
  </table>
  <br />
  <%= link_to "Back", :controller => "admins", :action => "submissions" %>
<% end %>
