<% if admin_logged_in? %>
  <%= render partial: 'shared/links' %>
  <h2>All Submitted Grants</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Grant</th>
      <th>Name</th>
      <th>$</th>
      <th>Discussion / Supplements</th>
      <th>Avg T</th>
      <th>Avg C</th>
      <th>Avg F</th>
      <th>Avg Score</th>
      <th>#</th>
      <th>Decision Finalized</th>
      <th>Funding</th>
      <th align="center"><%= button_to "Toggle All", '#', :onclick => "toggle_all_fund_emails(event);" %></th>
    </tr>
    </thead>
    <tbody>
    <% @grant_submissions.each do |gs| %>
    <tr>
      <td><%= Grant.where("id = ?",gs.grant_id).take.name %></td>
      <td><%= link_to "#{gs.name}" , :controller => "grant_submissions", :action => "modify", :id => gs.id %></td>
      <td align="right">$<%= gs.requested_funding_dollars %></td>
      <td><%= link_to "#{discussion_status(gs.id)}", :controller => "grant_submissions", :action => "discuss", :id => gs.id %></td>
      <td><%= @results[gs.id]['avg_t'] %></td>
      <td><%= @results[gs.id]['avg_c'] %></td>
      <td><%= @results[gs.id]['avg_f'] %></td>
      <td><%= @results[gs.id]['avg_s'] %></td>
      <td><%= @results[gs.id]['num_total'].fdiv(3.0).round(2).to_s %></td>
      <td><% if gs.funding_decision %>Yes<% else %>No<% end %></td>
      <td align="right">
        <% if gs.granted_funding_dollars != nil %>
          $<%= gs.granted_funding_dollars %>
        <% else %>$0
        <% end %></td>
      <td align="center"><form name="fund_email_form-<%= gs.id %>">
            <input type="checkbox" id="fund_email_checkbox-<%= gs.id %>" name="fund_email_checkbox">
          </form></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="11" align="right"><form name="send_email_form">
          <b>Send email when finalizing</b> <input type="checkbox" id="send_grant_fund_email_checkbox" checked="true">
          </form></td>
      <td align="center"><%= button_to "Finalize", '#', :onclick => "confirm_selected(event);" %></td>
    </tr>
    <tr>
      <td colspan="9" align="right">Total proposed grant money</td>
      <td align="right">$<%= all_grant_funding_total(false) %></td>
    </tr>
    <tr>
      <td colspan="9" align="right">Total finalized grant money</td>
      <td align="right">$<%= all_grant_funding_total(true) %></td>
    </tr>
    </tbody>
  </table>
  <br>
  <img src="/uploads/emot-siren.gif"> <%= link_to "REVEAL IDENTITIES", :controller => "admins", :action => "reveal" %> <img src="/uploads/emot-siren.gif">
<% end %>

<script>
function toggle_all_fund_emails(event) {
  event.preventDefault();
  checkboxes = document.getElementsByName('fund_email_checkbox');
  var toggle_to = !checkboxes[0].checked;
  for(var i=0, n=checkboxes.length; i<n; i++) {
    checkboxes[i].checked = toggle_to;
  }
  return false;
}

function confirm_selected(event) {
  event.preventDefault();
  checkboxes = document.getElementsByName('fund_email_checkbox');
  var selected = [];
  for (var i=0, n=checkboxes.length; i<n; i++) {
    if (checkboxes[i].checked) {
      var id = checkboxes[i].id.split("-")[1];
      selected.push(id);
    }
  }
  if (selected.length == 0) {
    return false;
  }
  var send_email = document.getElementById('send_grant_fund_email_checkbox').checked;
  var admin_js = '<%= raw @admin.to_json %>';
  $.post("/admins/send_fund_emails?ids=" + selected + "&send_email=" + send_email,
      {"admin": admin_js});
  return false;
}
</script>
