<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

<% if admin_logged_in? %>
  <%= render partial: 'shared/links' %>

  <h2>Voters</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Grants</th>
      <th>Verified</th>
      <th><form name="send_email_form">
          send email when verifying <input type="checkbox" id="send_verify_email_checkbox" checked="true">
          </form></th>
    </tr>
    <% @voters.each do |v| %>
    <tr>
      <td><%= link_to v['name'], :controller => "admins", :action => "voter_info", :id => v['id']%></td>
      <td><%= v['email'] %></td>
      <td><%= Grant.joins(:grants_voters).where('grants_voters.voter_id' => v.id).pluck(:name).join(", ").html_safe %></td>
      <td><%if v['verified'] %>Yes<% else %>No<% end %></td>
      <td>
        <% if v['verified'] %>
          <%= button_to "Unverify", :controller => "admins", :action => "verify", :id => v['id'], :verify => 0 %>
        <% else %>
          <%= button_to "Verify", '#', :onclick => "do_verify(event, #{v['id']});" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<script>
function do_verify(event, id) {
  event.preventDefault();
  var send_email = document.getElementById('send_verify_email_checkbox').checked;
  var admin_js = '<%= raw @admin.to_json %>';
  $.post("/admins/verify?id=" + id + "&verify=1&send_email=" + send_email,
      {"admin": admin_js});
  return false;
}
</script>
