<ol class="breadcrumb">
  <li>Voters</li>
  <li class="active">Overview</li>
</ol>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Grants</th>
    <% if can? :verify, Voter %>
    <th class="text-center">Verified</th>
    <% end %>
    <th class="text-right">
      <% if can? :verify, Voter %>
      <form name="send_email_form">
        <input type="checkbox" id="send_verify_email_checkbox" checked="true">
        send email when verifying
      </form>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @voters.each do |voter| %>
  <tr>
    <td><%= voter.name %></td>
    <td><%= voter.email %></td>
    <td><%= voter.grants.pluck(:name).join(", ") %></td>
    <% if can? :verify, voter %>
    <td class="text-center"><%if voter.verified? %>Yes<% else %>No<% end %></td>
    <% end %>
    <td class="text-right">
      <div class="btn-group">
      <% if can? :verify, Voter %>
        <% if voter.verified? %>
          <%= link_to "Unverify", verify_voter_path(voter, verify: 0), method: :post, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to "Verify", verify_voter_path(voter, verify: 'true'), method: :post, class: 'btn btn-primary', onclick: "do_verify(event, #{voter.id});" %>
        <% end %>
      <% end %>
      <% if can? :edit, voter %>
        <%= link_to 'Edit', voter_path(voter), class: "btn btn-default" %>
      <% end %>
      </div>
    </td>
    <% end %>
  </tr>
  </tbody>
</table>
<% if can? :verify, Voter %>
<%= javascript_include_tag 'voters/index', 'data-turbolinks-track': true %>
<% end %>
