<ol class="breadcrumb">
  <li>Voters</li>
  <li class="active">Overview</li>
</ol>

<% if @voters.present? %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to "All", voters_path(grantscope: @grantscope), class: ['btn', 'btn-default', (@scope == 'all' || @scope == nil ? 'active' : nil)] %>
    <%= link_to "Verified", voters_path(scope: 'verified', grantscope: @grantscope), class: ['btn', 'btn-default', (@scope == 'verified' ? 'active' : nil)] %>
  </div>
  <div class="btn-group">
    <%= link_to "All Grants", voters_path(scope: @scope), class: ['btn', 'btn-default', (@grantscope == nil ? 'active' : nil)] %>
    <% @grants.each do |grant| %>
      <%= link_to grant.name, voters_path(scope: @scope, grantscope: grant.name), class: ['btn', 'btn-default', (@grantscope == grant.name ? 'active' : nil)] %>
    <% end %>
  </div>

  <div class="btn-group">
    <%= link_to "Generate CSV", voters_path(format: 'csv', scope: @scope), class: ['btn', 'btn-default'] %>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Grants</th>
    <% if can? :verify, Voter %>
    <th class="text-center">Verified</th>
    <% end %>
    <th class="text-right">
      <% if can? :verify, Voter %>
      <form name="send_email_form">
        <input type="checkbox" id="send_verify_email_checkbox" checked="true">
        send email when verifying
      </form>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @voters.each do |voter| %>
  <tr>
    <td><%= voter.name %></td>
    <td><%= voter.email %></td>
    <td><%= voter.grants.pluck(:name).join(", ") %></td>
    <% if can? :verify, voter %>
    <td class="text-center"><%if voter.verified? %>Yes<% else %>No<% end %></td>
    <% end %>
    <td class="text-right">
      <div class="btn-group">
      <% if can? :verify, Voter %>
        <% if voter.verified? %>
          <%= link_to "Unverify", verify_voter_path(voter, verify: 0), method: :post, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to "Verify", verify_voter_path(voter, verify: 'true'), method: :post, class: 'btn btn-primary', onclick: "do_verify(event, #{voter.id});" %>
        <% end %>
      <% end %>
      <% if can? :edit, voter %>
        <%= link_to 'Edit', voter_path(voter), class: "btn btn-default" %>
      <% end %>
      </div>
    </td>
    <% end %>
  </tr>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Voter Emails</h3>
  </div>
  <div class="panel-body">
    <%= @voters.map(&:as_email_recipient).join(", ") %>
  </div>
</div>
<% else %>
  <div class="well">
    There are no voters to display.
  </div>
<% end %>

<% if can? :verify, Voter %>
<%= javascript_include_tag 'voters/index', 'data-turbolinks-track': true %>
<% end %>
