<div class="container">
<% if admin_logged_in? %>
| <%= link_to "Voter Page", :controller => "voters", :action => "index" %>
| <%= link_to "Artist Page", :controller => "artists", :action => "index" %>
| <%= link_to "Admin Page", :controller => "admins", :action => "index" %>
|
<% end %>

  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Voting Committee</h1>

	<% if voter_logged_in? %>
    You are logged in as: <%= current_voter.name %> (<%= current_voter.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_voter" %>]
    <br /><br />
    <% if any_vote_open? %>
      The voting process is active for <% active_vote_names.each_with_index do |g, i| %>
      <% if i > 0 %> and<% end %>
      <b><%= g.name %></b> 
      <% end %>!
    <% else %>
      <b>Voting is not open at this time, relax.</b>
    <% end %>
    <br /><br />
    For your review, here are the submitted applications:
  	<br /><br />
  	<!-- TODO: figure out how to do with proper remote:true -->
	  <%= form_tag("/voters/vote", authenticity_token: true) do %>

		<b><u>Assigned To You</u></b>
		<br /><br />
		Please vote on these before the meeting!
		<br /><br />
		<table border="1" cellpadding="4">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Grant</td>
				<td>Requested</td>
				<td>Submission</td>
				<td>T</td>
				<td>C</td>
				<td>F</td>
			</tr>
			<% @grant_submissions_unassigned.each do |gs| %>
				<tr>
					<td><%= gs.id %></td>
					<td><%= gs.name %></td>
					<td><%= (Grant.where(id: gs.grant_id).take).name rescue "Unknown" %></td>
					<td>$<%= gs.requested_funding_dollars %></td>
					<td><a href="<%= gs.proposal %>">Download</a></td>
					<td>
						<select name="t[<%= gs.id %>]" onchange="ajax_submit()">
							<option></option>
							<option <%= @votes[gs.id].score_t == 0 ? "selected" : "" %>>0</option>
							<option <%= @votes[gs.id].score_t == 1 ? "selected" : "" %>>1</option>
							<option <%= @votes[gs.id].score_t == 2 ? "selected" : "" %>>2</option>
						</select>
					</td>
					<td>
						<select name="c[<%= gs.id %>]" onchange="ajax_submit()">
							<option></option>
							<option <%= @votes[gs.id].score_c == 0 ? "selected" : "" %>>0</option>
							<option <%= @votes[gs.id].score_c == 1 ? "selected" : "" %>>1</option>
							<option <%= @votes[gs.id].score_c == 2 ? "selected" : "" %>>2</option>
						</select>
					</td>
					<td>
						<select name="f[<%= gs.id %>]" onchange="ajax_submit()">
							<option></option>
							<option <%= @votes[gs.id].score_f == 0 ? "selected" : "" %>>0</option>
							<option <%= @votes[gs.id].score_f == 1 ? "selected" : "" %>>1</option>
							<option <%= @votes[gs.id].score_f == 2 ? "selected" : "" %>>2</option>
						</select>
					</td>
				</tr>

			<% end %>
		</table>

		<% end %>

		<br />
		<u>Voting</u>
		<br /><br />
		<b>T</b> = Thoughtfulness
		<br />
		<b>C</b> = Creativity
		<br />
		<b>F</b> = Feasibility
		<br /><br />
		<b>0</b> = Fails to meet criteria
		<br />
		<b>1</b> = Meets criteria
		<br />
		<b>2</b> = Exceeds criteria
		<br />



	    
	<% else %>
	  <%= link_to "Register", :controller => "voters", :action => "signup" %> as a voting member of the voting committee.
		<h2>Sign in:</h2>
		<fieldset>
  	<%= form_tag(controller: 'sessions', action:'create_voter') do %>
  	  <%= text_field :session, :email, :placeholder => "Email Address" %>
  			<br />
  	  <%= password_field :session, :password, :placeholder => "Password" %>
  			<br />
  	  <%= submit_tag("Sign in", class: "button") %>
  
  	   </fieldset>
  	<% end %>
	<% end %>
	
	<script>
	function ajax_submit() {  
    var valuesToSubmit = $('form').serialize();
    $.ajax({
        type: "POST",
        url: "/voters/vote", //submits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
        console.log("success", json);
    });
    return false; // prevents normal behaviour
  }
	</script>
</div>