<div class="container">
    <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Almost There...</h1>
    <b>Please check your email (<%= @voter.email %>) for your email address confirmation link.</b>
    <p>If you don't see one soon, check your spam folder or contact
       <a href="mailto:grants@fireflyartscollective.org">grants@fireflyartscollective.org.</a>
    </p>
    <br /><br />
    Your login is: <%= @voter.email %>
    <br /><br />
    Thank you so much for applying to be on the voting committee for Firefly Art Grants in <%= event_year %>!
    <br /><br />
    You will be notified via email (at <%= @voter.email %>) if you are
    selected for the committee, and with further details as they become pertinent.
    You may want to bookmark <%= link_to "this page", :controller => "voters", :action => "index" %>,
    as it will be used to vote on applications during the judging process.
    <br /><br />
    Thanks again!
</div>