<% title = controller.action_name == 'edit' ? 'Modify Tag' : 'Create Tag' %>

 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= title %></h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for @tag do |f| %>
        <%= f.input :name, label: "Tag Name", required: true, validate: true %>
        <%= f.input :description, label: "Tag Description", required: false, validate: true %>
        <%= f.input :hidden, label: "Hidden From Artists" %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>