<ol class="breadcrumb">
  <li><%= link_to "Grants", grants_path %></li>
  <li class="active">Overview</li>
</ol>

<% if any_submit_open? %>
  <p>The submission process is active for <% active_submit_names.each_with_index do |g, i| %>
  <% if i > 0 %> and<% end %>
  <b><%= g.name %></b><% end %></p>
<% else %>
  <p>No submission process open at this time.</p>
<% end %>
<% if any_vote_open? %>
  <p>The voting process is active for <% active_vote_names.each_with_index do |g, i| %>
  <% if i > 0 %> and<% end %>
  <b><%= g.name %></b><% end %></p>
<% else %>
  <p>No voting process open at this time.</p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Max Funding</th>
      <th>Submission Start</th>
      <th>Submission End</th>
      <th>Vote Start</th>
      <th>Meeting One</th>
      <th>Meeting Two</th>
      <th>Vote End</th>
      <% if can? :modify, Grant %>
      <th>Hidden</th>
      <th></th>
      <% end %>
    </tr>
  <thead>
  <tbody>
  <% @grants.each do |g| %>
  <tr>
    <td><%= g.name %></td>
    <td>$<%= g.max_funding_dollars %></td>
    <td><%= Date::DAYNAMES[g.submit_start.wday] %>,
        <%= g.submit_start.strftime("%Y/%m/%d") %></td>
    <td><%= Date::DAYNAMES[g.submit_end.wday] %>,
        <%= g.submit_end.strftime("%Y/%m/%d") %></td>
    <td><%= Date::DAYNAMES[g.vote_start.wday] %>,
        <%= g.vote_start.strftime("%Y/%m/%d") %></td>
    <td><%= Date::DAYNAMES[g.meeting_one.wday] %>,
        <%= g.meeting_one.strftime("%Y/%m/%d") %></td>
    <td><%= Date::DAYNAMES[g.meeting_two.wday] %>,
        <%= g.meeting_two.strftime("%Y/%m/%d") %></td>
    <td><%= Date::DAYNAMES[g.vote_end.wday] %>,
        <%= g.vote_end.strftime("%Y/%m/%d") %></td>
    <% if can? :modify, g %>
    <td align="center"><% if g.hidden %>Y<% end %></td>
    <td><%= link_to "Edit", edit_grant_path(g) %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>

<% if can? :modify, Grant %>
  <%= link_to "Create Grant", new_grant_path, class: 'btn btn-primary' %>
<% end %>
