<ol class="breadcrumb">
  <li>Grants</li>
  <li class="active">Overview</li>
</ol>

<%= content_tag :div, class: (any_submit_open? && artist_logged_in?) ? 'alert alert-info' : 'well' do %>
  <% if any_submit_open? %>
    <%= render partial: 'grants/sentence_list', locals: { process_type: 'submission', grant_names: active_submit_names } %>
    <% if artist_logged_in? %>
      <%= link_to "Submit Grant Proposal", new_grant_submission_path, class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    No grants open for submission at this time.
  <% end %>
<% end %>

<% if can? :vote, GrantSubmission %>
  <%= content_tag :div, class: (any_vote_open? && can?(:vote, GrantSubmission)) ? 'alert alert-info' : 'well' do %>
    <% if any_vote_open? %>
      <%= render partial: 'grants/sentence_list', locals: { process_type: 'voting', grant_names: active_vote_names } %>
      <% if can? :vote , GrantSubmission %>
        <%= link_to "Vote on submissions", votes_path, class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      No grants open for voting at this time.
    <% end %>
  <% end %>
<% end %>

<% if can? :new, Grant %>
  <p>
    <%= link_to "Create Grant", new_grant_path, class: 'btn btn-primary' %>
  </p>
<% end %>

<% if @grants.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Max Funding</th>
      <th>Submission Start</th>
      <th>Submission End</th>
      <% if can? :vote, GrantSubmission or current_admin %>
      <th>Vote Start</th>
      <th>Meeting One</th>
      <th>Meeting Two</th>
      <th>Vote End</th>
      <% end %>
      <% if can? :modify, Grant %>
      <th></th>
      <% end %>
    </tr>
  <thead>
  <tbody>
  <% @grants.each do |g| %>
  <tr>
    <td>
      <%= g.name %>
    </td>
    <td>$<%= g.max_funding_dollars %></td>
    <td>
      <%= Date::DAYNAMES[g.submit_start.wday] %>,
      <%= g.submit_start.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.submit_start %>
    </td>
    <td>
      2AM the night of <%= Date::DAYNAMES[g.submit_end.wday] %>,
      <%= g.submit_end.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.submit_end + 26.hours %>
    </td>
    <% if can? :vote, GrantSubmission or current_admin %>
    <td>
      <%= Date::DAYNAMES[g.vote_start.wday] %>,
      <%= g.vote_start.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.vote_start %>
    </td>
    <td>
      <%= Date::DAYNAMES[g.meeting_one.wday] %>,
      <%= g.meeting_one.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.meeting_one %>
    </td>
    <td>
      <%= Date::DAYNAMES[g.meeting_two.wday] %>,
      <%= g.meeting_two.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.meeting_two %>
    </td>
    <td>
      <%= Date::DAYNAMES[g.vote_end.wday] %>,
      <%= g.vote_end.strftime("%Y/%m/%d") %><br />
      <%= humanize_date g.vote_end + 24.hours %>
    </td>
    <% end %>
    <% if can? :modify, g %>
    <td>
      <div class="btn-group">
        <%= link_to "Edit", edit_grant_path(g), class: 'btn btn-default' %>
      </div>
    </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
