<% title = controller.action_name == 'edit' ? 'Modify Grant' : 'Create Grant' %>

<ol class="breadcrumb">
  <li><%= link_to 'Grants', grants_path %></li>
  <li class="active"><%= title %></li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for @grant do |f| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :name %>
          <%= f.input :contract_template, collection: GrantContract.template_names, html5: true %>
          <%= f.input :funding_levels_csv, label: "Funding Levels", html5: true %>
          <h6 style="margin-top: -12px">Enter funding levels as a comma-separated list of integers or dashed-ranges, like 150,300,500-600,1000</h6>
          <%= f.input :submit_start, as: :date, html5: true %>
          <%= f.input :submit_end, as: :date, html5: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :vote_start, as: :date, html5: true %>
          <%= f.input :meeting_one, as: :date, html5: true %>
          <%= f.input :meeting_two, as: :date, html5: true %>
          <%= f.input :vote_end, as: :date, html5: true %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', grants_path, class: 'btn btn-default' %>
        <%= f.input :hidden, label: 'Hidden from voter signup page' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
