<ol class="breadcrumb">
  <%# Sigh, we need a way to do this better %>
  <% if admin_logged_in? %>
    <li><%= link_to "Grant Meeting", admins_grant_submissions_path %></li>
  <% elsif voter_logged_in? %>
    <li><%= link_to "Voting", votes_path %></li>
  <% elsif artist_logged_in? %>
    <li><%= link_to "My Submissions", grant_submissions_path %></li>
  <% end %>
  <li class="active"><%= @grant_submission.name %></li>
  <li class="active">Discussion</li>
</ol>

<%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Grant Submission</h3>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Name</dt>
            <dd><%= @grant_submission.name %></dd>
            <dt>Grant</dt>
            <dd><%= @grant_submission.grant.name %></dd>
            <dt>Requested Funding</dt>
            <dd><%= number_to_currency @grant_submission.requested_funding_dollars %></dd>
            <dt>Tags</dt>
            <dd>
            <%= Tag.joins(:submission_tag).where(:submission_tags => {:grant_submission_id => @grant_submission}).map(&:name).join(", ") %>
            </dd>
            <% if can? :grant, @grant_submission %>
              <br/>
              <%= f.input :granted_funding_dollars, :label => "Granted Funding ($)", :required => false, :validate => true, as: :integer, html5: true, :input_html => {:maxlength => 5,:style=> 'width: 80px'}  %>
              <%= f.input :funding_decision, :label => "Funding Finalized", :required => false, as: :boolean, html5: true  %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Funding Notes For Artist</h3>
                </div>
                <div class="panel-body">
                  <%= f.text_area :public_funding_notes, class: 'form-control', rows: '3' %>
                  </div>
              </div>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Documents</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_questions, GrantSubmission %>
            <%= render partial: 'files_list', locals: { grant_submission: @grant_submission, show_actions: true } %>
          <% else %>
            <%= render partial: 'files_list', locals: { grant_submission: @grant_submission } %>
          <% end %>
          <% if can? :edit_answers, GrantSubmission %>
            <%= f.simple_fields_for(:proposals_attributes) do |f_proposal| %>
              <%= f_proposal.input :file, as: :file, label: 'Supplemental PDF', required: false %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if can? :edit_questions, GrantSubmission or can? :vote, GrantSubmission %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Other Submissions by This Artist</h3>
          </div>
          <div class="panel-body">
            <dl>
              <% @other_submissions.each do |s| %>
                <% if s != @grant_submission %>
                  <dd><%= s.name %> &mdash; <%= Grant.find(s.grant_id).name %></dd>
                <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Questions from Committee</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_questions, @grant_submission %>
            <%= f.text_area :questions, class: 'form-control', rows: '20' %>
          <% else %>
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.questions } %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Private Funding Notes</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_questions, @grant_submission %>
            <%= f.text_area :private_funding_notes, class: 'form-control', rows: '20' %>
          <% else %>
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.private_funding_notes } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Answers from Artist</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_answers, @grant_submission %>
            <%= f.text_area :answers, class: 'form-control', rows: '20' %>
          <% else %>
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.answers } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center">
    <%= f.button :submit, 'Update Submission', class: 'btn btn-primary' %>
  </p>
<% end %>
