<ol class="breadcrumb">
  <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <li><%= link_to @grant_submission.name, edit_grant_submission_path(@grant_submission) %></li>
  <li class="active">Discussion</li>
</ol>

<% if artist_logged_in? || admin_logged_in? || verified_voter_logged_in? %>
  <!--
  <h2>Discussion for <a href="<%= @grant_submission.proposal %>" target="_blank"><%= @grant_submission.name %></a></h2>
  --!>
  <%= simple_form_for @grant_submission, :html => { :onsubmit => 'return validate_discussion();'} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Questions from Committee</h3>
          </div>
          <div class="panel-body">
            <%= f.text_area :questions, class: 'form-control', rows: '20', disabled: @question_edit_disable  %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Answers from Artist</h3>
          </div>
          <div class="panel-body">
            <%= f.text_area :answers, class: 'form-control', rows: '20', disabled: @answer_edit_disable %>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Supplemental documents</h3>
          </div>
          <div class="panel-body">
            <%= f.simple_fields_for(:proposals_attributes) do |f_proposal| %>
              <%= f_proposal.input :file, as: :file, label: 'Anonymized Supplemental PDF', required: false %>
            <% end %>

            <% if !@grant_submission.proposals.empty? %>
              <table class="table">
              <% @grant_submission.proposals.each do |s| %>
                <tbody>
                <tr>
                  <td style="border:none;"><a href="<%= s.file %>"><%= s.file_identifier %></a></td>
                  <td style="border:none;">
                  <%= form_tag("/proposals/delete", authenticity_token: true, :class => "button_to") do %>
                    <%= hidden_field_tag :grant_submission_id, @grant_submission.id, :name => "proposal[grant_submission_id]" %>
                    <%= hidden_field_tag :id, s.id, :name => "proposal[id]" %>
                    <input class="btn btn-danger btn-xs" name="delete" type="submit" value="Delete" />
                  <% end %>
                  </td>
                </tr>
                </tbody>
              <% end %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if artist_logged_in? || admin_logged_in? %>
      <%= f.button :submit, 'Update Discussion', class: 'btn btn-primary' %>
      <%= link_to 'Back', :back %>
    <% end %>
  <% end %>

  <br/>
  <%= semantic_form_for @proposal, :html => { :onsubmit => 'return validate_supplement();'} do |f| %>
    <label class="label" for="proposal_file">Upload Additional Document:</label>
  <% end %>
  <br />
<% else %>
  You must be logged in to view discussions. (<%= link_to "Log In", :controller => "home", :action => "index" %>)
  <br />
  <br />
<% end %>
