<ol class="breadcrumb">
  <%# Sigh, we need a way to do this better %>
  <% if admin_logged_in? %>
    <li><%= link_to "Grant Meeting", admins_grant_submissions_path %></li>
  <% elsif voter_logged_in? %>
    <li><%= link_to "Voting", votes_path %></li>
  <% elsif artist_logged_in? %>
    <li><%= link_to "My Submissions", grant_submissions_path %></li>
  <% end %>
  <li class="active"><%= @grant_submission.name %></li>
  <li class="active">Discussion</li>
</ol>

<%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Grant Submission Summary
            <div class="btn-group pull-right">
              <%= link_to "Edit Submission", edit_grant_submission_path(id: @grant_submission.id), class: 'btn btn-xs btn-default' %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Name</dt>
            <dd><%= @grant_submission.name %></dd>
            <dt>Grant</dt>
            <dd><%= @grant_submission.grant.name %></dd>
            <dt>Requested Funding</dt>
            <dd><%= funding_requests_pretty(@grant_submission) %></dd>
            <dt>Tags</dt>
            <dd>
            <h4><% @grant_submission.tags(can?(:view_hidden, Tag)).each do |tag| %>
            <span class="label label-default"><%= tag %></span>
            <% end %></h4>
            </dd>
            <br/>
            <dt>Documents</dt>
            <dd>
              <% if can? :edit_questions, GrantSubmission %>
                <%= render partial: 'files_list', locals: { grant_submission: @grant_submission, show_actions: true } %>
              <% else %>
                <%= render partial: 'files_list', locals: { grant_submission: @grant_submission } %>
              <% end %>
              <% if can? :edit_answers, GrantSubmission %>
                <%= f.simple_fields_for(:proposals_attributes) do |f_proposal| %>
                  <%= f_proposal.input :file, as: :file, label: 'Supplemental PDF', required: false %>
                <% end %>
              <% end %>
            </dd>
            <dt>Other Submissions By This Artist</dt>
            <ul class="list-group">
            <% if @other_submissions.length == 0 %>
              <li class="list-group-item">None</li>
            <% end %>
            <% @other_submissions.each do |s| %>
              <li class="list-group-item"><%= s.name %> &mdash; <%= Grant.find(s.grant_id).name %></li>
            <% end %>
            </ul>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <% if can? :grant, @grant_submission %>
        <div class="panel panel-default">
          <div class="panel-heading" role="button" data-toggle="collapse" data-target="#panel-body-funding"
               aria-expanded="false" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="icon-chevron-right"></i><i class="icon-chevron-down"></i> Grant Funding</h3>
          </div>
          <div class="panel-body collapse" id="panel-body-funding">
            <%= f.input :granted_funding_dollars, :label => "Granted Funding ($)", :required => false, :validate => true, as: :integer, html5: true, :input_html => {:maxlength => 5,:style=> 'width: 80px'}  %>
            <%= f.input :funding_decision, :label => "Funding Finalized", :required => false, as: :boolean, html5: true  %>
            <dl>
              <dt>Funding Notes For Artist</dt>
              <dd>
                <div class="alert alert-warning">The text in the box below will be included in the notification email sent to the artist, whether they are funded or not. Linebreaks will be interpreted but no other formatting is recognized.</div>
                <%= f.text_area :public_funding_notes, class: 'form-control', rows: '5' %>
              </dd>
            </dl>
          </div>
        </div>
      <% end %>
      <% if can? :edit_questions, @grant_submission %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Private Funding Notes</h3>
          </div>
          <div class="panel-body">
            <div class="alert alert-warning">These notes will only be visible to admins and voters.</div>
              <%= f.text_area :private_funding_notes, class: 'form-control', rows: '10' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Questions from Committee</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_questions, @grant_submission %>
            <%= f.text_area :questions, class: 'form-control', rows: '20' %>
          <% else %>
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.questions } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Answers from Artist</h3>
        </div>
        <div class="panel-body">
          <% if can? :edit_answers, @grant_submission %>
            <%= f.text_area :answers, class: 'form-control', rows: '20' %>
          <% else %>
            <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.answers } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center">
    <%= f.button :submit, 'Update Submission', class: 'btn btn-primary' %>
  </p>
<% end %>
