<ol class="breadcrumb">
  <% if @meeting_referer %>
    <li><%= link_to "Grant Meeting", admins_grant_submissions_path %></li>
  <% else %>
    <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <% end %>
  <li class="active">Edit Submission</li>
</ol>

<div class="alert alert-info">
  <p>Please refer to the <a href="https://www.fireflyartscollective.org/participate/art-at-firefly/art-grants/" target="_blank">Firefly website</a>
   for information on the grant submission process, rules, and funding guidelines.</p>
</div>

<% unless any_submit_open? %>
  <div class="alert alert-warning">
    <p>There are no open submissions at this time.</p>
  </div>
<% end %>

<% if can? :create, GrantSubmission %>
  <%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Details
          </div>
          <div class="panel-body">
            <%= f.input :name, label: "Name of Piece", required: true, validate: true %>

            <div id="grant_submission_grant_selectors">
            <%= f.association :grant, as: :radio_buttons,
                collection: Grant.where(hidden: false),
                :input_html => { :onclick => "load_funding_levels(get_chosen_grant())" } %>
            </div>

            <div id="funding_levels">
              <%# This is not a good way of doing it.  We should probably call
              addLevel with an extra param to preset the value of the field. %>
              <% @request_levels.each_with_index do |level, idx| %>
                <% if idx > 0 %><br id="funding_levels_br_<%= idx %>"/><% end %>
                <%= text_field_tag "funding_levels[]", level,
                    id: "funding_levels_text_#{idx}",
                    class:"form-control string fund-entry" %>
              <% end %>
              <div id="level_buttons_<%= @request_levels.length - 1 %>" class="btn-group btn-space" role="group">
                <% if @request_levels.length > 1 %>
                  <button name="button" type="button" id= "remove_level_button_<%= @request_levels.length-1 %>"
                      onclick="removeLevel(<%= @request_levels.length-1 %>)" class = "btn btn-default">-</button>
                <% end %>
                <% if @request_levels.length <= 5 %>
                  <button name="button" type="button" id= "add_level_button_<%= @request_levels.length - 1 %>"
                      onclick="addLevel(<%= @request_levels.length %>)" class = "btn btn-default">+</button>
                <% end %>
              </div>
            </div>
            <h5 id="funding_level_text"></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
       <div class="panel panel-default">
          <div class="panel-heading">
            Submission Tags
          </div>
          <table class="table table-striped">
            <tbody>
            <% Tag.all_maybe_hidden(can? :view_hidden, Tag).each do |t| %>
              <tr>
                <td>
                  <%= check_box_tag "submission_tags[]", t.id,
                  SubmissionTag.exists?(tag_id: t.id, grant_submission_id: @grant_submission.id) %>
                </td>
                <td><h4><span class="label label-default"><%= t.name %></span></h4></td>
                <td><%= t.description %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Documents
          </div>
          <div class="panel-body">
            <div class="alert alert-warning">Make sure your proposal is <strong>anonymous</strong> and DOES NOT include any identifying information!</div>
            <%= render partial: 'files_list', locals: { grant_submission: @grant_submission, show_actions: true } %>
            <%= f.input :proposal, as: :file, label: 'Replace Master Application PDF' %>
            <%= f.simple_fields_for(:proposals_attributes) do |f_proposal| %>
              <%= f_proposal.input :file, as: :file, label: 'Add Supplemental PDF', required: false %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
        <%= f.button :submit, 'Update Submission', class: 'btn btn-primary' %>
        <%= link_to "Delete", grant_submission_path(@grant_submission), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this entire submission?  This cannot be undone!' } %>
    </p>
  <% end %>
<% else %>
  <div class="well text-center">
    Please log in as an artist to create a submission.
  </div>
<% end %>

<%# We reuse the js from new to reduce duplication%>
<%= javascript_include_tag 'grant_submissions/new', 'data-turbolinks-track': true %>
