<ol class="breadcrumb">
  <li>Grant Submissions</li>
  <li class="active">Index</li>
</ol>

<div class="alert alert-info">
  <% if any_submit_open? %>
    <p>The submission process is active for:
    <ul>
      <% active_submit_names.each_with_index do |g| %>
        <li><%= g.name %></li>
      <% end %>
    </ul>
    </p>
    <p><%= link_to "Submit Grant Proposal", new_grant_submission_path, class: 'btn btn-primary' %></p>
  <% else %>
    No submissions open at this time.
  <% end %>
</div>

<% if any_grant_submission_funded?(current_artist.id) %>
  <div class="alert alert-success text-center">
    <p class="lead">OMG you've been funded!</p>
  </div>
<% end %>

<% unless @grant_submissions.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Submission Title</th>
      <th>Grant</th>
      <th>Discussion</th>
      <th>Requested Funds</th>
      <% if any_grant_submission_funded?(current_artist.id)%>
      <th>Granted Funds</th>
      <% end %>
      <th></th>
    </tr>
    </thead>
    <tbody>
  <% @grant_submissions.each do |gs| %>
    <tr>
      <td><%= gs.name %></td>
      <td><%= gs.grant&.name %> Grant</td>
      <td>
        <% if submission_has_questions?(gs.id) %>
          Questions
        <% else %>
          None (yet)
        <% end %>
      </td>
      <td align="right"><%= number_to_currency gs.requested_funding_dollars %></td>
      <% if any_grant_submission_funded?(current_artist.id) %>
        <td align="right">
          <% if grant_submission_funded?(gs.id) %>
            <%= number_to_currency gs.granted_funding_dollars %>
          <% end %></td>
      <% end %>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <% if submission_has_questions?(gs.id) %>
              <%= link_to "Answer Questions", discuss_grant_submission_path(gs), class: 'btn btn-primary' %>
            <% end %>
            <% if grant_submission_funded?(gs.id) %>
              <%= link_to "Generate Contract", generate_contract_grant_submission_path(gs, format: 'pdf'), method: :post, class: 'btn btn-success btn-inline' %>
            <% end %>
          </div>
          <div class="btn-group pull-right">
            <% if can? :edit, gs %>
            <%= link_to "Edit", edit_grant_submission_path(id: gs.id), class: 'btn btn-default' %>
            <% end %>
            <%= link_to "View", grant_submission_path(id: gs.id), class: 'btn btn-default' %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
