<ol class="breadcrumb">
  <li>My Submissions</li>
  <li class="active">Overview</li>
</ol>

<%= content_tag :div, class: (any_submit_open? && artist_logged_in?) ? 'alert alert-info' : 'well' do %>
  <% if any_submit_open? %>
    <%= render partial: 'grants/sentence_list', locals: { process_type: 'submission', grant_names: active_submit_names } %>
    <%= link_to "Submit Grant Proposal", new_grant_submission_path, class: 'btn btn-primary' %>
  <% else %>
    No grants open for submission at this time.
  <% end %>
<% end %>

<% if @celebrate_funded %>
  <div class="alert alert-success text-center">
    <p class="lead">OMG you've been funded!</p>
  </div>
<% end %>

<% unless @grant_submissions.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Submission Title</th>
      <th>Tags</th>
      <th>Grant</th>
      <th>Funding</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
  <% @grant_submissions.each do |gs| %>
    <tr>
      <td><%= gs.name %></td>
      <td>
        <h4><% gs.tags(false).each do |tag| %>
        <span class="label label-default label-thin"><%= tag %></span>
        <% end %></h4>
      </td>
      <td><%= gs.grant&.name %> Grant</td>
      <td>
        <%= render partial: 'funding_table', locals: { grant_submission: gs }%>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group pull-right">
            <%= link_to "View", grant_submission_path(id: gs.id), class: 'btn btn-default' %>
            <%= link_to "Edit", edit_grant_submission_path(id: gs.id), class: 'btn btn-default' %>
            <% if gs.funded? and can? :generate_contract, GrantSubmission %>
              <%= link_to "Generate Contract", generate_contract_grant_submission_path(gs, format: 'pdf'), method: :post, class: 'btn btn-success btn-inline' %>
            <% end %>
            <% if gs.has_questions? and can? :edit_answers, GrantSubmission %>
              <%= link_to "Answer Questions", discuss_grant_submission_path(gs), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
