<ol class="breadcrumb">
  <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <li class="active">Submission</li>
</ol>

<div class="alert alert-info">
  <p>Please refer to the <a href="https://www.fireflyartscollective.org/participate/art-at-firefly/art-grants/" target="_blank">Firefly website</a>
   for information on the grant submission process, rules, and funding guidelines.</p>
</div>

<div class="alert alert-info">
  <strong>Important Notes</strong>
  <ul><li>This year the <strong>Anniversary Grants</strong> are called the
     <strong>Crystal Grants</strong>.
   </li>
   <li>Please choose an <strong>approved funding level</strong> for the Grant you're applying
     for.  Funding requests at values between grant levels
     will be rounded down.</li>
   <li><strong>Do not</strong> include any information identifying the artist(s)
     (such as name, alias, contact information, etc) in the submission document
     itself.  The review process can't be blind if your name is at the top
     of the document. Therefore <strong>we will reject your proposal</strong>
     if it contains identifying information!
  </ul>
</div>

<% unless any_submit_open? %>
  <div class="alert alert-warning">
    <p>There are no open submissions at this time.</p>
  </div>
<% end %>

<% if can? :create, GrantSubmission %>
  <%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Details
          </div>
          <div class="panel-body">
            <%= f.input :name, label: "Name of Piece", required: true, validate: true %>

            <div id="grant_submission_grant_selectors">
            <%= f.association :grant, as: :radio_buttons %>
            </div>

            <%= f.input :requested_funding_dollars, :label => "Requested Funding ($)", :required => true, :validate => true, as: :integer, html5: true  %>

            <% if can? :grant, GrantSubmission %>
              <%= f.input :granted_funding_dollars, :label => "Granted Funding ($)", :required => false, :validate => true, as: :integer, html5: true  %>
              <%= f.input :funding_decision, :label => "Funding Finalized", :required => false, as: :boolean, html5: true  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Documents
          </div>
          <div class="panel-body">
            <div class="alert alert-warning">Did you make sure your proposal is <strong>anonymous</strong> and DOES NOT include any identifying information?</div>

            <%= f.input :proposal, as: :file, label: 'Anonymized Application PDF' %>

            <%= render partial: 'files_list', locals: { grant_submission: @grant_submission, show_actions: true } %>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </p>
  <% end %>
<% else %>
  <div class="well text-center">
    Please log in as an artist to create a submission.
  </div>
<% end %>

<%# BEGIN YIKES %>
<%# We need to embed all the max funding dollarses here so we can check them below %>
<% Grant.all.each do |grant| -%>
<div style="display:none" id="<%= "grant_" + grant.id.to_s + "_max_funding_dollars"%>"><%= grant.max_funding_dollars.to_s %></div>
<% end %>
<%# END YIKES %>

<script>
  function validate() {
    errors = 0;

    if (document.getElementById("grant_submission_name").value == "") {
      errors++;
      alert('Error: Please choose a name for your proposal');
      document.getElementById("grant_submission_name").style.border = '1px solid red';
    }

    var grantRadios = document.querySelectorAll('[id^=grant_submission_grant_id]');
    var chosen_grant = -1;
    for (var i in grantRadios) {
      if (grantRadios[i].checked) {
        chosen_grant = grantRadios[i].value;
      }
    }
    if (chosen_grant === -1) {
      errors++;
      alert('Error: Please select a grant for your proposal');
      document.getElementById("grant_submission_grant_selectors").style.border = '1px solid red';
    } else {
      // Here's where the YIKES pays off.  We get the value in the hidden div based on which grant
      // they chose.
      var max_funding_dollars = parseInt(document.getElementById('grant_' + chosen_grant + '_max_funding_dollars').textContent);
      if (document.getElementById('grant_submission_requested_funding_dollars').value > max_funding_dollars) {
        errors++;
        alert('Error: Invalid amount entered for requested amount');
        document.getElementById("grant_submission_requested_funding_dollars").style.border = '1px solid red';
      }
    }

    if (document.getElementById("grant_submission_proposal").value != "") {
      // Ask for confirmation if they are uploading a new document.
      var anon = confirm("Did you make sure your proposal is anonymous and DOES NOT include any identifying information?");
      if (!anon) {
        errors++;
      }
    } else if (document.getElementById("grant_submission_proposal_original_doc") == null) {
      // If they didn't specify a new doc and there wasn't an existing doc,
      // then it's an error.
      errors++;
      alert('Error: Please select your application PDF');
      document.getElementById("grant_submission_proposal").style.border = '1px solid red';
    }

    return errors===0;
  }
</script>