<ol class="breadcrumb">
  <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <li class="active">Submission</li>
</ol>

<% if (artist_logged_in? && any_submit_open?) || admin_logged_in? %>
  <div class="alert alert-info">
    <p>Please refer to the <a href="https://www.fireflyartscollective.org/participate/art-at-firefly/art-grants/" target="_blank">Firefly website</a>
     for information on the grant submission process, rules, and funding guidelines.</p>
  </div>

  <div class="alert alert-info">
    <strong>Important Notes</strong>
    <ul><li>This year the <strong>Anniversary Grants</strong> are called the
       <strong>Crystal Grants</strong>.
     </li>
     <li>Please choose an <strong>approved funding level</strong> for the Grant you're applying
       for.  Funding requests at values between grant levels
       will be rounded down.</li>
     <li><strong>Do not</strong> include any information identifying the artist(s)
       (such as name, alias, contact information, etc) in the submission document
       itself.  The review process can't be blind if your name is at the top
       of the document. Therefore <strong>we will reject your proposal</strong>
       if it contains identifying information!
    </ul>
  </div>

  <%= simple_form_for @grant_submission do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Details
          </div>
          <div class="panel-body">
            <%= f.input :name, label: "Name of Piece", required: true, validate: true %>

            <%= f.association :grant, as: :radio_buttons %>

            <%= f.input :requested_funding_dollars, :label => "Requested Funding ($)", :required => true, :validate => true, :input_html => { :onInput => "numericFilter();" }, as: :integer, html5: true  %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Submission Documents
          </div>
          <div class="panel-body">
            <%= f.input :proposal, as: :file, label: 'Anonymized Application PDF' %>
            <div class="alert alert-warning">Did you make sure your proposal is anonymous and DOES NOT include any identifying information?</div>

            <% unless @grant_submission.proposals.empty? && @grant_submission.proposal.nil? %>
              <ul class="list-group">
                <% if @grant_submission.proposal.present? %>
                  <li class="list-group-item">
                    <%= link_to @grant_submission.proposal_identifier, @grant_submission.proposal_url, target: :blank %>
                </li>
                <% end %>
              <% @grant_submission.proposals.each do |s| %>
                <li class="list-group-item">
                  <%= link_to s.file_identifier, s.file_url, target: :blank %>
                  <%= link_to 'Delete', proposal_path(s, grant_submission_id: @grant_submission.id), method: :delete, class: 'btn btn-danger btn-xs inline pull-right', data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <p class="text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <br />
      <%= link_to 'Back', @back_link %>
    </p>
  <% end %>

<% elsif artist_logged_in? %>
  Submissions are now closed
  <br /><br />
  <%= link_to 'Back', :controller => "artists", :action => "index" %>
<% else %>
  You must be logged in as an artist to modify a grant proposal. (<%= link_to "Log In", :controller => "artists", :action => "index" %>)
  <br />
  <br />
  <%= link_to 'Back', @back_link %>
<% end %>
