<ol class="breadcrumb">
  <% if voter_logged_in? %>
    <li><%= link_to "Voting", votes_path %></li>
  <% else %>
    <li><%= link_to "Grant Submissions", grant_submissions_path %></li>
  <% end %>
  <li class="active"><%= @grant_submission.name %></li>
  <li class="active">Discussion</li>
</ol>

<%= simple_form_for @grant_submission, :html => { :onsubmit => "return validate();"} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Grant Submission</h3>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Name</dt>
            <dd><%= @grant_submission.name %></dd>
            <dt>Grant</dt>
            <dd><%= @grant_submission.grant.name %></dd>
            <dt>Requested Funding</dt>
            <dd><%= @grant_submission.funding_requests_pretty %></dd>
            <dt>Tags</dt>
            <dd>
            <%= @grant_submission.tags(can?(:view_hidden, Tag)).join(", ") %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Documents</h3>
        </div>
        <div class="panel-body">
          <%= render partial: 'files_list', locals: { grant_submission: @grant_submission } %>
        </div>
      </div>
      <% if can? :edit_questions, GrantSubmission or can? :vote, GrantSubmission %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Other Submissions by This Artist</h3>
          </div>
          <div class="panel-body">
            <dl>
              <% @other_submissions.each do |s| %>
                <% if s != @grant_submission %>
                  <dd><%= s.name %> &mdash; <%= Grant.find(s.grant_id).name %></dd>
                <% end %>
              <% end %>
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Questions from Committee</h3>
        </div>
        <div class="panel-body">
          <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.questions } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Answers from Artist</h3>
        </div>
        <div class="panel-body">
          <%= render partial: 'safe_blockquote', locals: { text: @grant_submission.answers } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
