<% if any_vote_open? %>
  <div class="well">
    <%= render partial: 'grants/sentence_list', locals: { process_type: 'voting', grant_names: active_vote_names } %>
  </div>

  <% unless @scope == 'all' || !@grant_submissions.present? %>
    <div class="alert alert-info">
      <p>Please vote on these before the meeting!</p>
    </div>
  <% end %>
<% else %>
  <div class="well">
    Voting is not open at this time.
  </div>
<% end %>

<p>
<div class="btn-group">
  <%= link_to "Assigned to you", votes_path(scope: :assigned), class: ['btn', 'btn-default', (@scope == 'assigned' ? 'active' : nil)] %>
  <%= link_to "All submissions", votes_path(scope: :all), class: ['btn', 'btn-default', (@scope == 'all' ? 'active' : nil)] %>
</div>
</p>

<% if @grant_submissions.present? %>
  <%= form_tag("/voters/vote", authenticity_token: true, name: "vote_form") do %>
    <% @grant_submissions.each do |gs| %>
      <div class="grant-submission-summary well">
        <div class="grant-submission-description">
          Submission: <strong><%= gs.name %></strong><br />
          Grant: <%= gs.grant&.name || 'Unknown' %> for <%= number_to_currency gs.requested_funding_dollars %><br />
          <%= link_to 'PDF Submission', gs.proposal_url, target: :blank %><br />

          <% if gs.has_questions? %>
            <%= link_to discussion_status(gs), discuss_grant_submission_path(gs) %>
          <% else %>
            No discussion
          <% end %>
        </div>

        <div class="grant-submission-voting">
          <table class="">
            <thead>
            <tr>
              <th>T</th>
              <th>C</th>
              <th>F</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select id="t[<%= gs.id %>]" name="t[<%= gs.id %>]" onchange="ajax_submit('#save<%= gs.id %>', 'vote_form')">
                    <option></option>
                    <option <%= @votes[gs.id].score_t == 0 ? "selected" : "" %>>0</option>
                    <option <%= @votes[gs.id].score_t == 1 ? "selected" : "" %>>1</option>
                    <option <%= @votes[gs.id].score_t == 2 ? "selected" : "" %>>2</option>
                  </select>
                </td>
                <td>
                  <select id="c[<%= gs.id %>]" name="c[<%= gs.id %>]" onchange="ajax_submit('#save<%= gs.id %>', 'vote_form')">
                    <option></option>
                    <option <%= @votes[gs.id].score_c == 0 ? "selected" : "" %>>0</option>
                    <option <%= @votes[gs.id].score_c == 1 ? "selected" : "" %>>1</option>
                    <option <%= @votes[gs.id].score_c == 2 ? "selected" : "" %>>2</option>
                  </select>
                </td>
                <td>
                  <select id="f[<%= gs.id %>]" name="f[<%= gs.id %>]" onchange="ajax_submit('#save<%= gs.id %>', 'vote_form')">
                    <option></option>
                    <option <%= @votes[gs.id].score_f == 0 ? "selected" : "" %>>0</option>
                    <option <%= @votes[gs.id].score_f == 1 ? "selected" : "" %>>1</option>
                    <option <%= @votes[gs.id].score_f == 2 ? "selected" : "" %>>2</option>
                  </select>
                </td>
                <tr>
                  <td colspan="3">
                    <div id="save<%= gs.id %>" class="save-message"></div>
                  </td>
                </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Voting</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>T</dt><dd>Thoughtfulness</dd>
      <dt>C</dt><dd>Creativity</dd>
      <dt>F</dt><dd>Feasibility</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>0</dt><dd>Fails to meet criteria</dd>
      <dt>1</dt><dd>Meets criteria</dd>
      <dt>2</dt><dd>Exceeds criteria</dd>
    </dl>
  </div>
</div>
<% end %>

<%= javascript_include_tag 'votes/index', 'data-turbolinks-track': true %>
