<!DOCTYPE html>
<html>
<head>
  <title>Firefly <%= event_year %> - Art Grants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'navbar' %>

<div class="main-container container">
  <% if current_user && !current_user&.activated? %>
    <%= render partial: 'account_activations/unactivated_alert' %>
  <% end %>

  <% if flash.any? %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
