<!DOCTYPE html>
<html>
<head>
  <title>Firefly <%= event_year %> - Art Grants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:warning] %>
    <div class="warning"><%= flash[:warning] %></div>
  <% end %>

  <% if voter_logged_in? %>
    <p>You are logged in as: <%= current_voter.name %> (<%= current_voter.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_voter" %>]</p>
  <% end %>
  <% if admin_logged_in? %>
    <p>You are logged in as: <%= current_admin.name %> (<%= current_admin.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_admin" %>]</p>
  <% end %>
  <% if artist_logged_in? %>
    <p>You are logged in as: <%= current_artist.name %> (<%= current_artist.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_artist" %>]</p>
  <% end %>

  <%= render partial: 'shared/admin_links' %>

  <%= yield %>
</div>

</body>
</html>
