<!DOCTYPE html>
<html>
<head>
  <title>Firefly <%= event_year %> - Art Grants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:warning] %>
    <div class="warning"><%= flash[:warning] %></div>
  <% end %>

  <%= render partial: 'shared/admin_links' %>

  <%= yield %>
</div>

</body>
</html>
